@media (max-width: 600px){
  .buttons {
    background-color: red;
  }
}

* {
    touch-action: manipulation;
}

body {
  background: url('http://data.freehdw.com/tetris-pattern-hd-widescreen.jpg');
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}

canvas {
  margin: 0 auto;
  height: 65vh;
}

.container {
  margin: 0 auto;
  text-align: center;
}

#tetris {
  border: 3px solid white;
  background: url('https://media.phillyvoice.com/media/images/Screen_Shot_2015-05-03_at_3.08.23_.2e16d0ba.fill-735x490.png')
}
.buttons {
  text-align: center;
  margin: 0 auto;
  width: 40px;
  height: 30px;
  background-color: lightgrey;
}

#moveLeft, #moveRight {
  margin-left: 3vw;
  margin-right: 3vw;
}

#moveDown {
  margin-top: 1.5vh;
}

.dirs {
  margin-left: 3vw;
  margin-right: 3vw;
}

#score {
  text-align: center;
  font-size: 100%;
  width: 40vw;
  /* height: 5vh; */
  background-color: black;
  color: white;
  border: 3px solid white;
  margin: 0 auto;
  margin-bottom: 3vh;
  padding-top: 1vh;
}
#rotate {
  margin-bottom: 1vh;
}

#start {
  overflow-x: hidden;
  text-align: center;
  width: 50px;
  margin-bottom: 3vh;
}
