body {
  background: url('http://data.freehdw.com/tetris-pattern-hd-widescreen.jpg');
  background-size: cover;
}

.container {
  margin: 0 auto;
  text-align: center;
}

#tetris {
  border: 3px solid white;
}
.buttons {
  margin: 0 auto;
}

.dirs {
  margin-left: 3vw;
  margin-right: 3vw;
}

#score {
  width: 10vw;
  height: 5vh;
  background-color: black;
  color: white;
  border: 3px solid white;
  margin: 0 auto;
  margin-bottom: 3vh;
}
#rotate {
  /* width: 3.5vw;
  height: 4.4vh; */
}
